[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
admin = "*"
django = "*"
djangorestframework = "*"
PyJWT = "==1.7.1"
djangorestframework_simplejwt = "*"
path = "*"
drf-yasg = "*"
gunicorn = "*"
django-heroku = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
