[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
admin = "*"
django = "*"
djangorestframework = "*"
PyJWT = "*"
djangorestframework_simplejwt = "*"
path = 13.1.0
drf-yasg = "*"
gunicorn = "*"
psycopg2 = "==2.7.7"
django-heroku = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
